<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('../partials/header',{root:"../../"}); %>
    <title>Buzzer - Player</title>
  </head>

  <body>
    <%- include('../partials/navbarlow'); %>

    <h1 class="text-center display-4">Game Code: <%= code %></h1>
    <div class="row">
      <div class="card col-4 mx-auto" id="user-card">
        <div class="card-body">
          <form action="" method="post" id="form-pseudo">
            <div class="col-xs-4">
              <input type="hidden" name="code" id="code" value="<%=code %>" />
              <label for="username" class="form-label">Pseudo</label>
              <input
                type="text"
                pattern="[a-zA-Z0-9]+"
                name=""
                id="username"
                class="form-control"
                minlength="2"
                maxlength="20"
                placeholder="Saisir votre pseudo"
                required
              />
            </div>
            <button class="btn btn-primary" id="start" type="submit">Rejoindre la partie</button>
          </form>
        </div>
      </div>
    </div>

    <div id="app-div" style="display: none">
      <div class="row">
        <div
          id="buzzer-div"
          class="mx-auto text-center col-lg-6 col-sm-6 border-right"
          style="border-right: 1px solid #ccc"
        >
          <h2>Etat du Buzzer</h2>
          <svg height="90%" width="90%" class="mx-auto" id="buzzer">
            <circle cx="50%" cy="50%" r="5em" stroke="black" stroke-width="3" fill="yellow" id="buzzer-circle" />
            <text x="50%" y="50%" text-anchor="middle" class="fs-1" id="buzzer-state">Bloqué</text>
          </svg>
        </div>
        <div id="buzzlist-div " class="mx-auto text-center col pt-5" style="text-align: center">
          <div class="card mx-auto col-8">
            <div class="card-header">Liste des Buzz</div>
            <div class="card-body">
              <ul class="list-group" id="buzzing-list"></ul>
            </div>
          </div>
        </div>
      </div>
      <div id="players-div " class="mx-auto text-center col pt-5" style="text-align: center">
        <div class="card mx-auto col-8">
          <div class="card-header">Liste des joueurs</div>
          <div class="card-body">
            <ul class="list-group" id="player-list"></ul>
          </div>
        </div>
      </div>
    </div>

    <%- include('../partials/script'); %>
    <script src="/js/9pgplayer.js"></script>
  </body>
</html>
